<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<style>
			:host {
				display: block;
			}
		</style>
	</head>
	<body>
		<input type="hidden" name="@context" value="https://schema.org" />
		<input type="hidden" name="@type" value="Thing" />
		<label>
			<span>Name:</span>
			<input type="text" name="name" required="" />
		</label>
		<label>
			<span>Description:</span>
			<textarea name="description"></textarea>
		</label>
		<label>
			<span>URL:</span>
			<input type="url" name="url" placeholder="https://example.com" />
		</label>
		<!-- <schema-image-object name="image"></schema-image-object> -->
	</body>
</html>
